@mixin btn-style($bg-color, $text-color: white) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
.container-formulario {
  padding: 5px 5px;
  max-width: 50%;
  margin: 10px auto;
}
button {
  @include btn-style($color-1);
  margin: 20px auto 0;
  display: block;
  align-self: center;
}

form {
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
  }

  select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer;
  }

  button {
    background-color: #355C7D;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
      background-color: darken(#355C7D, 10%);
    }
  }
}