// Colores 
$color-1: #355C7D;
$color-2: #C06C84;
$color-3: #666666;
$color-4: #e58e09;
$color-5: #ff9e0b;
$color-6: #ffa723;

// Fuentes
$font-1: "Manufacturing Consent", system-ui;
$font-2: "Fjalla One", sans-serif;
$font-3: "Bebas Neue", sans-serif;
$font-4: "Reggae One", system-ui;